<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<h1>Список всех книг</h1>
<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getAuthor()}"></a>
</div>
<hr>
<hr>
<div>
    <a th:href="@{/books/new}">Добавить новую книгу</a>
</div>
</body>
</html>