body{
    background: #1a8080;
}
h1{
    text-align:center;
    letter-spacing:2.4px;
    font-size:35px;
    color:#b8fa09;
    text-shadow:2px 1px 2px #000000;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight:700;
}
a{
    text-decoration: none;
    color:#170428;
    font-size:25px;
    margin:10px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight:400;
}
a:hover{
    color:#d8c2a8
}
h2{
    text-align:center;
    letter-spacing:2.4px;
    font-size:35px;
    color:#4c3c5b;
    text-shadow:2px 1px 2px #297070;
    margin:15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight:500;
}
input[type=text]{
    width:200px;
    height:20px;
    margin:5px
}
label{
    font-size: 20px;
    font-family: 'Lobster', cursive;
    margin:0px 10px
}
.button{
    font-size: 18px;
    font-family: 'Lobster', cursive;
    transition: 1s;
    width: 150px;
    height: 40px;
    color:#21352b;
    background: #258748;
    margin-bottom: 20px;
    border-radius:50%;
    margin:10px;
}

.button:hover{
    background: -webkit-linear-gradient(#3cad5b,#24a3ca,#7cba9d);
    border-radius:0%;
    color:black
}
.author{
    background: #f40d0d;
    color: #cbf169;
    text-align:center;
    font-size: 30px;
    font-family: 'Kenia', cursive;
    font-weight: 400;
    letter-spacing:2px;
}
.nameOfBook{
    background: #f129d8;
    color: #a0daec;
    text-align:center;
    font-size: 30px;
    font-family: 'Kenia', cursive;
    font-weight: 400;
    letter-spacing:2px;
}
.genre{
    background: #0047ff;
    color: #ecbef1;
    text-align:center;
    font-size: 30px;
    font-family: 'Kenia', cursive;
    font-weight: 400;
    letter-spacing:2px;
}
.error{
    color: #ed5858;
    font-size: 17px;
}
